<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Environment 🐄🔔</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Hello {{ environment }}!</p>
      <p>This environment is using {{ api }} to fetch data!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
